
header{
    position: fixed;
        background-color: white;
        width: 100%;
        box-shadow: 0px 0px 15px #515151;
        height: 10vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #logo{
        font-family: "Montserrat", sans-serif;
        font-size: 33px;
        letter-spacing: 1px;
    }
    #logo span{
        color: #009688;
        letter-spacing: 1px;
        font-weight: 1000;
    }
    #icons i{
        color: black;
        padding-top: 8px;
        font-size: 22px;
        cursor: pointer;
        margin-right: 50px;
    }
    #icons{
        display: flex;
    }